parameters:
    level: 5
    paths:
        - index.php
        - temp.gsconfig.php
        - admin/
        - admin/inc/
        - admin/template/
        - admin/lang/
        - theme/Cardinal/
        - theme/Innovation/
    ignoreErrors:
        -
            identifier: variable.undefined
