parameters:
    level: 5 # the analysis level, from 0 (loose) to 8 (strict)
    paths: # the paths to scan
        - admin/
        - admin/inc/
        - admin/template/
        - admin/lang/
    ignoreErrors:
        -
            identifier: variable.undefined
